<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <wffm>
      <wffmActionExecutor set:type="Sitecore.Support.Forms.Core.Dependencies.DefaultImplActionExecutor, Sitecore.Support.127005" />
      <analytics>
        <sqlFormsDataProvider set:type="Sitecore.Support.WFFM.Analytics.Providers.SqlFormsDataProvider, Sitecore.Support.127005" />
      </analytics>
    </wffm>
  </sitecore>
</configuration>